https://learndjango.com/tutorials/django-custom-user-model
https://learndjango.com/tutorials/django-login-and-logout-tutorial

FILE STRUCTURE 
===============================================
<div> 
    root> 
    proj> 
    accounts> (app)
    templates > base.html 
    templates > home.html 
    templates > registration > signup.html = accounts/signup/ [name='signup']
    
    DJANGO.CONTRIB.AUTH.URLS = localhost:8000/accounts/ OR /accounts
    templates > registration > login.html = accounts/login/ [name='login'] 
    templates > registration > logout.html = accounts/ logout/ [name='logout']
    
    templates > registration > password_change_form.html = accounts/ password_change/ [name='password_change']  
    templates > registration > password_change_done.html = accounts/ password_change/done/ [name='password_change_done']
    
    ok templates > registration > password_reset_form = accounts/ password_reset/ [name='password_reset'] 
    ok templates > registration > password_reset_done.html = accounts/ password_reset/done/ [name='password_reset_done']
    
    ok templates > registration > password_reset_confirm.html = accounts/ reset/<uidb64>/<token>/ [name='password_reset_confirm']
    ok templates > registration > password_reset_complete.html = accounts/ reset/done/ [name='password_reset_complete']
    ================================================
    password_reset_email.html 
</div>
------------------------------------------------
COMMANDS 
=====================================================
makemigrations 
migrate
createsuperuser 
------------------------------------------------
SETTINGS.PY 
=================================================
<div> 
    INSTALLED_APPS = [ "accounts" ]...
    AUTH_USER_MODEL = "accounts.CustomUser" 
    TEMPLATES = [{ "DIRS": [BASE_DIR / "templates"],} ]
    LOGIN_REDIRECT_URL = "home"
    LOGOUT_REDIRECT_URL = "home"

    # Django defaults to an SMTP email backend that requires some configuration. 
    # To test password reset flow locally, update django_project/settings.py file to output emails to console instead.
    # Add this one line to the bottom of the file.

    EMAIL_BACKEND = "django.core.mail.backends.console.EmailBackend" # new
</div>
----------------------------------------------
MODELS.PY 
================================================
<div> 
    from django.contrib.auth.models import AbstractUser
    from django.db import models
    
    class CustomUser(AbstractUser):
    email = models.EmailField(max_length=24)
    
        def __str__(self):
            return self.username
</div>
----------------------------------------------
FORMS.PY 
============================================
<div> 
    from django.contrib.auth.forms import UserCreationForm, UserChangeForm
    from .models import CustomUser
    
    class CustomUserCreationForm(UserCreationForm):
        class Meta:
            model = CustomUser
            fields = ("username", "email")
    
    class CustomUserChangeForm(UserChangeForm):
        class Meta:
            model = CustomUser
            fields = ("username", "email")
</div>
-----------------------------------------------------
ADMIN.PY 
=======================================
<div> 
    from django.contrib import admin
    from django.contrib.auth.admin import UserAdmin
    from .forms import CustomUserCreationForm, CustomUserChangeForm
    from .models import CustomUser
    
    class CustomUserAdmin(UserAdmin):
        add_form = CustomUserCreationForm
        form = CustomUserChangeForm
        model = CustomUser
        list_display = ["email", "username",]
    
    admin.site.register(CustomUser, CustomUserAdmin)
</div>
-------------------------------------------------
PROJ > URLS.PY
================================================
<div> 
    from django.contrib import admin
    from django.urls import path, include
    from django.views.generic.base import TemplateView
    
    urlpatterns = [
        path("", TemplateView.as_view(template_name="home.html"), name="home"),
        path("admin/", admin.site.urls),
        path("accounts/", include("accounts.urls")),
        path("accounts/", include("django.contrib.auth.urls")),
    ]
</div>
--------------------------------------------
ACCOUNTS (APP) > URLS.PY
================================================
<div> 
    from django.urls import path
    from .views import *
    
    urlpatterns = [
        path("signup/", SignUpView.as_view(), name="signup"),
        path('logout/', logout_view, name='logout')
    ]
</div>
-----------------------------------------------------
VIEWS.PY
====================================================
<div> 
    from django.urls import reverse_lazy
    from django.views.generic.edit import CreateView
    
    from .forms import CustomUserCreationForm
    
    class SignUpView(CreateView):
        form_class = CustomUserCreationForm
        success_url = reverse_lazy("login")
        template_name = "registration/signup.html"
    
    def logout_view(request):
        logout(request)
        return redirect('home')
</div>
-------------------------------------------------
HTML 
===================================================
templates > base.html 
    <div> 
        <!-- templates/base.html -->
        <!DOCTYPE html>
        <html>
        <head>
        <meta charset="utf-8">
        <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
        </head>
        <body>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        </body>
        </html>
    </div>
templates > home.html 
    <div> 
        <!-- templates/home.html -->
        {% extends "base.html" %}

        {% block title %}Home{% endblock %}

        {% block content %}
        {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <p><a href="{% url 'logout' %}">Log Out</a></p>
        {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a> |
        <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
        {% endblock %}
    </div>
templates > registration > signup.html = accounts/signup/ [name='signup']
    <div> 
        <!-- templates/registration/signup.html -->
        {% extends "base.html" %}
        {% block title %}Sign Up{% endblock %}
        {% block content %}
        <h2>Sign Up</h2>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
        </form>
        {% endblock %}
    </div>
DJANGO.CONTRIB.AUTH.URLS = localhost:8000/accounts/ OR /accounts
templates > registration > login.html = accounts/login/ [name='login'] 
    <div> 
        <!-- templates/registration/login.html -->
        {% extends "base.html" %}

        {% block title %}Log In{% endblock %}

        {% block content %}
        <h2>Log In</h2>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Log In</button>
        </form>
        {% endblock %}
    </div>
templates > registration > logout.html = accounts/ logout/ [name='logout']
    <div> 
        {% extends "../base.html" %}
        {% block content %}  
        <p>Logged out!</p>
        <form action="{% url 'logout' %}" method="post">  
        {% csrf_token %} 
        <button type="submit">
            <a href="{% url 'login'%}">Click here to login again.</a>
        </button>
        </form>
        {% endblock %}
    </div>
-----------------------------------------------------------------
password change when user knows old password but wants to change
templates > registration > password_change_form.html = accounts/ password_change/ [name='password_change']  
default template
templates > registration > password_change_done.html = accounts/ password_change/done/ [name='password_change_done']
default template
-----------------------------------------------------------------
password_reset when user forgets old password.
templates > registration > password_reset_form.html = accounts/ password_reset/ [name='password_reset'] 
<div>
    {% extends 'base.html' %}
    {% block title %}Forgot Your Password?{% endblock %}
    {% block content %}
    <h1>Forgot your password?</h1>
    <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
    <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send me instructions!">
    </form>
    {% endblock %} 
</div>
templates > registration > password_reset_done.html = accounts/ password_reset/done/ [name='password_reset_done']
<div> 
    {% extends "../base.html" %}
    {% block title %}Email Sent{% endblock %}
    {% block content %}
    <p>We've emailed you instructions for setting your password. 
        Check your inbox
        If they haven't arrived check your spam folder.</p>    
    {% endblock %}
</div>
templates > registration > password_reset_confirm.html = accounts/ reset/<uidb64>/<token>/ [name='password_reset_confirm']
<div>     
    {% extends "../base.html" %}

    {% block title %}Enter new password{% endblock %}

    {% block content %}

    {% if validlink %}

    <h1>Set a new password!</h1>
    <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Change my password">
    </form>

    {% else %}

    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
    </p>

    {% endif %}
    {% endblock %}

</div>
templates > registration > password_reset_complete.html = accounts/ reset/done/ [name='password_reset_complete']
<div> 
    {% extends "../base.html" %}
    {% block title %}Password reset complete{% endblock %}
    {% block content %}
    <h1>Password reset complete</h1>
    <p>Your new password has been set. You can log in now on the <a href=" {% url 'login' %}">log in page</a>.</p>
    {% endblock %}
</div>
---------------------------------------------------------------------
python manage.py runserver 
http://127.0.0.1:8000/
Click on Log In and use your superuser credentials.
-------------------------------------------------
