<!-- templates/index.html -->
{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<h3> from index.html </h3>
<img src = "{% static 'img/smile.png' %}" alt = "smile" />
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'password_change' %}">password_change</a></p>
  <p><a href="{% url 'password_change_done' %}">password_change_done</a></p>
  <p><a href="{% url 'password_reset' %}">password_reset</a></p>
  <p><a href="{% url 'password_reset_done' %}">password_reset_done</a></p>
  <p><a href="accounts/reset/<uidb64>/<token>/">password_reset_confirm</a></p>
  <p><a href="{% url 'password_reset_complete' %}">password_reset_complete</a></p>
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a> |
  <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock %}